.button-submit {
    display: flex; /* or inline-flex */

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    /*left: 179px;*/
    /*top: 314px;*/

    background: white;
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /*text-align: center;*/

    color: #75C2C3;


}
