.containerGame {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    height: calc(100vh - 100px);
    padding-left: 100px;
    width: 100vh;
}

.answerSelected {
    background-color: #D6DBF5;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
}

.answer {
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
    background-color: inherit;

}

.answerCorrect {
    background-color: #94D7A2;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
}

.answerIncorrect {
    background-color: #F8BCBC;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
}

.answerDisabled {
    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    color: #293264;
    margin: 5px;
}

.game-title {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    margin: 5px;


    color: #293264;
}

.game-button-submit {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: center;
    width: 120px;
    height: 35px;
    /*left: 179px;*/
    /*top: 314px;*/

    background: #4D5B9E;
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /*text-align: center;*/

    color: #F5F7FB;
    align-items: center;
    justify-content: center;
    align-items: center;

}

.game-button-end-quiz {
    /*position: absolute;*/
    width: 120px;
    height: 35px;
    /*left: 179px;*/
    /*top: 314px;*/

    background: #4D5B9E;
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /*text-align: center;*/

    color: #F5F7FB;
    align-items: self-end;

}

.link {
    color: white;
    text-decoration: none;
}

.hr-game {
    width: 100vh;
    height: 0px;

    border: 0.794239px solid #DBDEF0;
}

.containerButtons {

}


.end-quiz {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: flex-end;
    width: 100vh;
    align-items: baseline;
}

.grade-sentence {
    margin-right: 10px;
}
