.game-button-navigation{
    /*display: flex; !* or inline-flex *!*/
    /*flex-direction: row;*/
    justify-content: center;
    width: 100vh;
    margin-left: 10px;

    width: 120px;
    /*height: 35px;*/
    /*left: 179px;*/
    /*top: 314px;*/

    background: #293264;
    /*border-radius: 10px;*/

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /*text-align: center;*/

    color: #F5F7FB;
    align-items: center;
    /*justify-content: center;*/
    /*align-items: center;*/

}