.containerGame {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    height: calc(100vh - 100px);
    padding-left: 100px;
    width: 100vh;


}

.answerSelected {
    background-color: #D6DBF5;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
}

.answer {
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
    background-color: inherit;

}

.answerCorrect {
    background-color: #94D7A2;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
}

.answerIncorrect {
    background-color: #F8BCBC;
    border-radius: 7.94239px;
    color: #293264;
    margin: 5px;
}

.answerDisabled {
    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    color: #293264;
    margin: 5px;
}

.game-title {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    margin: 5px;


    color: #293264;
}



.link {
    color: white;
    text-decoration: none;
}

.hr-game {
    width: 100vh;
    height: 0px;
    border: 0.794239px solid #DBDEF0;
}



