.containerGame {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    wrap: wrap-content;
    /*height: calc(100vh - 100px);*/
    /*padding-left: 100px;*/
    /*width: 100vh;*/



}

.answerSelected {
    background-color: #7BC4C4;
    border: 3px solid #368C87;
    border-radius: 7.94239px;
    color: white;
    margin: 5px;
    width: 50%;
}

.answer {
    border: 3px solid #7BC4C4;
    border-radius: 7.94239px;
    color: white;
    margin: 5px;
    background-color: inherit;
    background-color:#7BC4C4;
    width: 50%;
}

.answerCorrect {
    border: 3px solid #94D7A2;
    border-radius: 7.94239px;
    color: #595959;
    margin: 5px;
    width: 50%;
}

.answerIncorrect {
    border: 3px solid #F8BCBC;
    border-radius: 7.94239px;
    color: #595959;
    margin: 5px;
    width: 50%;

}

.answerDisabled {
    border: 0.771045px solid #75C2C3;
    border-radius: 7.71045px;
    color: #595959;
    margin: 5px;
    width: 50%;
}

.game-title {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    margin: 5px;



    color:#595959;
}



.link {
    color: white;
    text-decoration: none;
}

.hr-game {
    width: 100vh;
    height: 0px;
    border: 0.794239px solid #DBDEF0;
}

.questionElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 10px;
    width:60vh;
    height:30vh;

    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


